@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
    height: 100vh;
    max-width: 1440px;
    font-family: "Bitter", serif;
    background-color: #F8F3DF;
    color: #543034;
    text-align: center;
}

#dark-mode {
    float: right;
    top: 15px;
    right: 100px;
    background-color: #B8E6F3;
    border: 2px solid #0C6279;
    padding: 5px;
    border-radius: 5px;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 5px;
    background-color: #DE871D;

}

/* header img {
    display: block;
    border-radius: 50%;
    margin: 1rem;
    width: 25%;
    height: 100px
} */

/* .nav-bar {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: #DE871D;
    display: flex;

} */

#nav-menu {
    grid-column: 3/4;
    text-align: right;
}
  
nav ul li {
    list-style: none;
    height: 100%;
    width: 100px;
    padding:1rem;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #B8E6F3;
    transition: all .5s ease;
    border-radius: 5px;
    border: 2px solid #0C6279;
}

/* nav {
    padding: 2rem;
    grid-column: 1 / 4; */
    /* display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } */

nav ul li a {
    text-decoration: none;
    color:black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

/* header h1 {
    width: 100%;
    margin-left: 250px;
    grid-column: 2/3;
} */

nav ul {
    grid-row: 2/3;
    grid-column: 2/3;
    /* align-items: flex-end; */
    /* display: none; */
    margin-right: 20px;
    
}

#hero-pic {
    width: 100%;
    grid-column: 1/3;
    
}

.logo, .footer-logo{
    border-radius: 50%;
    width: 150px;
    /* object-fit: contain; */
}

#hero{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    z-index: 12;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

#hero h1{
    font-size: 3rem;
    background-color: #DE871D;
    color:#F8F3DF;
    width: fit-content;
    border-radius: 5px;
    justify-content: center;
}

#hero button {
    width: fit-content;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #DE871D;
    display: block;
    color: #F8F3DF;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    border: 2px solid #543034;
}

#hero button:hover{
    background-color: #B8E6F3;
    color: #0C6279;
    border: 2px solid #0C6279; 
}

#current-events{
    grid-column: 1/2;
    /* border: 2px solid #0C6279; */
    /* padding: 3rem; */
    border: 2px #0C6279 solid;
    margin: 5rem 4rem;
    border-radius:15px;
    
}

#current-events h2, #weather h2, #spotlights h3{
    background-color: #0C6279;
    color: #B8E6F3;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

#weather, #spotlight-1, #spotlight-2, #spotlight-3{
    border: 2px #0C6279 solid;
    margin: 5rem 4rem;
    border-radius:15px;
}

#home-main p{
    text-align: center;
    padding: 1rem;
}

footer{
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    background-color: #DE871D;
    color:#F8F3DF;
}

#weather-icon{
    width: 20%;
}

.join{
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.join {
    text-align: left;
    justify-content: left;
    color:#543034;
}

.join > div{
    margin: 1rem;
    padding: 1rem;
    border: 2px #0C6279 solid;
    margin: 5rem 4rem;
    border-radius:15px;
    width: 90%;
    min-width: 400px;
}

label.myinput{
    display:block;
    padding-top: 1rem;
}

label.myinput input, label.myinput textarea{
    display:block;
    font-size: 1.2rem;
    padding: .5rem;
    width: 20rem;
    max-width: 20rem;
}

label.myradio{
    display: block;
    margin-right: .2rem;
    font-size: 1.3rem;  
    padding-top: .5rem;
}

label.myradio input{
    margin-right: 1rem;
}

.mysubmit {
    width: fit-content;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #DE871D;
    display: block;
    color: #F8F3DF;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    border: 2px solid #543034;
}

.mysubmit:hover{
    background-color: #B8E6F3;
    color: #0C6279;
    border: 2px solid #0C6279; 
}

label.myinput input:required{
    border-color: #922;
}

input:valid{
    background-color: rgb(200, 255, 200);
}

input:invalid{
    background-color: rgb(255, 200, 200);
}

.join-confirm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#thankyou-main h2{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1rem 0;
}

#sign-up, #member-benefits{
    background-color: #0C6279;
    color: #B8E6F3;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}