@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
    height: 100vh;
    max-width: 1440px;
    font-family: "Bitter", serif;
}

#dark-mode {
    float: right;
    top: 15px;
    right: 100px;
    border: none;
    padding: 5px;
  }

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 5px;
    background-color: #DE871D;

}

header img {
    display: block;
    border-radius: 50%;
    margin: 1rem;
    width: 25%;
    height: 100px
}

/* .nav-bar {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: #DE871D;
    display: flex;

} */

#nav-menu {
    grid-column: 3/4;
    text-align: right;
}
  
nav ul li {
    list-style: none;
    height: 100%;
    width: 100px;
    padding:1rem;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #B8E6F3;
    transition: all .5s ease;
}

/* nav {
    padding: 2rem;
    grid-column: 1 / 4; */
    /* display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } */

  nav ul li a {
    text-decoration: none;
    color:black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 1rem;

}

/* header h1 {
    width: 100%;
    margin-left: 250px;
    grid-column: 2/3;
} */

nav ul {
    grid-row: 2/3;
    grid-column: 2/3;
    /* align-items: flex-end; */
    /* display: none; */
    margin-right: 20px;
    
  }

  .home-section img {
      width: 100%;
  }